<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                Twitter
            </a>
        </div>
        <li ng-show="loading" class="loading"><i class="fa fa-refresh fa-spin fa-2x"></i></li>
        <form class="navbar-form navbar-right" action="">
            <div class="input-group">
                <input type="text" placeholder="Search Twitter"  id="searchTerm" class="form-control"/>
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>
</nav>
<div class="container">
    <div class="col-sm-4">
        <h3>Recent searches</h3>
        <ul id="searchMessages"></ul>
    </div>
    <div class="col-sm-8">
        <!-- If No Results Show -->
        <div ng-show="noresults">
            <div class="panel panel-default text-center noresults">
                <i class="fa fa-twitter fa-2x"></i>
                <h4>No Results for <strong>{{twitts.search_metadata.query}}</strong></h4>
            </div>
        </div>
        <!--/ If No Results Show -->
        <ul class="list-group">
            <li class="list-group-item" dir-paginate="t in twitts.statuses | itemsPerPage:20">
                <div class="media">
                    <div class="media-left">
                        <a ng-href="https://twitter.com/{{t.user.screen_name}}">
                            <img ng-src="{{t.user.profile_image_url}}" alt="" width="50px" class="img-rounded"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <a ng-href="https://twitter.com/{{t.user.screen_name}}"><b>{{t.user.name}}</b></a>
                        <small> @{{t.user.screen_name}}</small>
                        - <small am-time-ago="t.created_at"></small>
                        <p ng-bind-html=" t.text | highlight:twitts.search_metadata.query">{{t.text}}</p>
                        <span title="Retweet"><i class="fa fa-retweet"></i> {{t.retweet_count}}</span>
                        <span title="Favorite"><i class="fa fa-star"></i> {{t.favorite_count}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
